body,
html,
#root {
  height: 100%; 
}

.fanbies_input_placeholder div {
  margin-right: 1px;
}

.fanbies_input_placeholder div p,
.fanbies_input_placeholder input {
  font-size: 1.2em;
  padding-left: 0
}

.phone{
  box-sizing: border-box;
  border-radius: 40px;
  border: 20px solid #6a4d4d36;
  width: 440px;
  height: 804px;
  display: block;
  margin: 0 auto;
  transform-origin: bottom left;
}
.phone_translate{
  transform:scale(0.536022) translateX(60%) translateY(-50%) translate3d(0px, 0px, 0px); 
}