body,
html,
#root {
  height: 100%; 
}

.width-100 {
  width: 100% !important;
}

.width-50 {
  width: 50% !important;
}

.m-b-lg {
 margin-bottom: 15px !important;
}

.border-none {
  border: 0 none !important;
}

#fanbies .text__placeholder_color {
  color: #c9c2c5;
}
.fanbies_input_placeholder div {
  margin-right: 1px;
}

.fanbies_input_placeholder div p,
.fanbies_input_placeholder input {
  font-size: 1.2em;
  padding-left: 0
}

.phone{
  box-sizing: border-box;
  border-radius: 40px;
  border: 20px solid #6a4d4d36;
  width: 440px;
  height: 804px;
  margin: 0 auto;
}

.phone_translate{
  transform:scale(0.536022) translateX(0%) translateY(-30%) translate3d(0, 0, 0); 
}

.unlock_overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #3d3c3cba !important;
  top: 0;
  left: 0;
  z-index: 999 !important;
  border-radius: 5px !important;
  cursor: pointer;
  backdrop-filter: blur(2px);
}

.fanbies_input_custom_v1 input,
#fanbies .fanbies_input_custom_v1 > div {
  font-size: 1.5em !important;
  padding: 0.8rem !important;
  height: 2em !important;
}

.fanbies_mk_input_v1 label {
  line-height: 2;
  font-size: .75em;
}

.icon__paragraph {
  position: relative;
  margin: 0 5px;
}

.unlock_overlay .overlay__message {
  justify-content: center;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

#fanbies .dropShadow_logo {
  filter: drop-shadow(2px 2px 2px black);
}

.badge__element span {
  font-size: .6em !important;
  background: #3b4b5f !important;
  color: #ffffff !important;
}

.ripple {
	overflow: hidden;
}

.ripple:hover:before{
	animation: ripple 1s ease;
}

.ripple:before{
	content: "";
	position: absolute; top:0; left:0;
	width:100%; height: 100%;
  background-color: #c5c3c31c;
  border-radius: 50%;
	transform: scale(0);
}

@keyframes ripple{
	from{transform:scale(0); opacity:1;}
	to{transform:scale(3);opacity:0;}
}

.admin__sidebar .side-bar__logo {
    padding: 5px 0;
    margin: 0
}

@media only screen and (min-width: 992px) {
  .admin__sidebar {
    max-width: 75%;
  }

  .dash_tab_container {
    left: -15px;
  }
}

.inputSearch{
  border-radius: 20px;
  border: 1px solid #adb5bd;
  box-shadow: 24px;
  padding: 12px;
  margin-top: 15px;
  width: 100%;
}

.inputSearch:focus {
  outline: none !important;
  box-shadow: 0 0 10px #adb5bd;
}

/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {...} */